@import "../../../scss//mixins";

.auth__card {
  width: 50%;
  margin: 20vh auto 0 auto;
  max-width: 500px;

  form button {
    margin-top: 2rem;
  }

  h1 {
    font-family: $roboto;
  }

  .auth__card_header {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: rgb(120, 120, 120);
  }

  .auth__card_main_header {
    margin-top: 0;
  }
}

.auth__card_modal_headerClass {
  background-color: $darkBlue !important;
}

.auth__card_modal_contentClass {
  text-align: center;
}

@include customMaxBreakPoint(1024) {
  .auth__card {
    width: calc(100% - 4rem);
    padding: 2rem 1rem;
    margin-top: 10vh;
  }
}
