// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$primaryTextColor: #212121;
$primaryBorderLineColor: #e0e0e0;

$warning: #f03a47ff;
$secondaryWarning: #ffe0e0;
$redwood: #af5b5bff;
$cultured: #f6f4f3;
$darkerCultured: #eee0d9;
$blue: #276fbfff;
$green: #83c683;
$lightGreen: #ecf6ec;
$darkBlue: #183059ff;

$shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
$smallShadow: 0 3px 6px rgba(0, 0, 0, 0.2);
$smallestShadow: 0 1px 3px rgba(0, 0, 0, 0.2);
$roboto: "Roboto", sans-serif;
