@import "../../scss/mixins";

.suppliers__container {
  margin: 2rem;
  padding: 1rem;
  .suppliers__search {
    background-color: $cultured;
    padding: 0.1rem 1rem;
    border-radius: 5px;
  }
  .suppliers__add {
    margin-top: 2rem;
  }
  p {
    word-wrap: break-word;
  }
}

@include smMinBreakPoint {
  .suppliers__container {
    width: 80%;
    margin: 0 auto;
  }
}

@include mdMinBreakPoint {
  .suppliers__container {
    width: 60%;
    margin: 2rem auto;
    .suppliers__search {
      max-width: 80%;
      margin: 0 auto;
      input {
        width: 400px;
        max-width: 80%;
        margin: 0 auto;
      }
      label {
        width: 400px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .suppliers__add {
      width: 400px;
      max-width: 80%;
      margin: 2rem auto 0 auto;
    }
  }
}

@include xxlMinBreakPoint {
  .suppliers__container {
    .suppliers__search,
    .suppliers__add {
      max-width: 80%;
    }

    .suppliers__search {
      input,
      label {
        max-width: 80%;
      }
    }
  }
}
